{% extends "base.html" %}
{%load static %}

{% block content %}
<main class="d-flex flex-column align-items-center w-100">
    <a href={% url 'buys:home' %}>
        <img src="{% static 'img/goBack.svg' %}" alt="go back"  style="width: 50px; filter: drop-shadow(5px 5px 5px green)"/>
    </a>
    <h2 class="text-center mt-5">Products</h2>
    
    <table class="table mt-3" style="width: 60%">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="p-3 fs-5">#</th>
                <th scope="col" class="p-3 fs-5">Name</th>
                <th scope="col" class="p-3 fs-5">Price</th>
                <th scope="col" class="p-3 fs-5">Stock</th>
                <th scope="col" class="p-3 fs-5">Provider</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row" class="p-2 fs-5">{{product.id}}</th>
                    <td class="fs-5">{{product.name}}</td>
                    <td class="fs-5">{{product.price}}</td>
                    <td class="fs-5">{{product.actual_stock}}</td>
                    <td class="fs-5">{{product.provider}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="new/" class="btn btn-success m-3 fs-5">Create new Product</a>
</main> 
{% endblock content %}