{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="d-flex flex-column align-items-center">
    <h1 class="text-center mt-3">Welcome to purchasing stock control!</h1>
    <img src="{% static 'img/stockHome.svg' %}" alt="Home Svg" class="mt-5">
    <div class="d-flex justify-content-evenly w-50">
        <a href="products/" class="btn btn-success m-3 fs-4">Products</a>
        <a href="providers/" class="btn btn-success m-3 fs-4">Providers</a>
    </div>
</main> 
{% endblock content %}